.completed {
    text-decoration: line-through
}

.marginLR-5 {
    margin: 0 5px 0 5px;
}

/* input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
} */